html, body {
  margin: 0;
  padding: 0;
  background-image: url("res/background.jpg");
  background-repeat: repeat;
}

/* site wide style */
#wrapper {
  font-family: Arial, Helvetica, sans-serif;
}

/* utility */
.text-button {
  margin: 10px;
  cursor: pointer;
  white-space: nowrap;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* IE/Edge */
  user-select: none;
}

.flexRowItem {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.flexColItem {
  display: flex;
  flex-direction: column;
}

/* *SiteSearchView.jsx */
.siteSearchView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* aboutView.jsx */
.aboutView {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: medium;
}

/* statsView.jsx */
.statsView {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: medium;
}

/* header.jsx */
.header {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: flex-start;
}

/* landingView.jsx */
.landingView {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: x-large;
}

.socialButtons {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}

.socialButtons sp{
	margin: 10px;
}

/* resultView.jsx */
.resultView {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
